
Project Files/.vs/Project Aerial/v16/Server/sqlite3/db.lock
Project Files/.vs/Project Aerial/v16/.suo
Project Files/.vs/Project Aerial/v16/Server/sqlite3/storage.ide
Project Files/.vs/Project Aerial/v16/Server/sqlite3/storage.ide-wal
Project Files/Aerial/bin/DesktopGL/AnyCPU/Debug/Aerial.exe
Project Files/Aerial/bin/DesktopGL/AnyCPU/Debug/Aerial.pdb
Project Files/Aerial/bin/DesktopGL/AnyCPU/Debug/Astronaut.dll
Project Files/Aerial/bin/DesktopGL/AnyCPU/Debug/Astronaut.pdb
Project Files/Aerial/obj/Debug/Aerial.csprojAssemblyReference.cache
Project Files/Aerial/obj/Debug/Aerial.exe
Project Files/Aerial/obj/Debug/Aerial.pdb
Project Files/Astronaut/Astronaut.csproj
Project Files/Astronaut/bin/Debug/Astronaut.dll
Project Files/Astronaut/bin/Debug/Astronaut.pdb
Project Files/Astronaut/obj/Debug/Astronaut.dll
Project Files/Astronaut/obj/Debug/Astronaut.pdb
Project Files/Astronaut/obj/Debug/Astronaut.csprojAssemblyReference.cache
